.catalog-index {
  
  
  &__category {
    
  }
  
  &__category-link {
    font-size: 20px;
    font-family: @font-family-main;
    font-weight: 700;
    line-height: 24px;
    
    &--red {
      
    }
  }
  
  &__category-sections {
    
  }
  
  &__section-item {
    
  }
  
  &__section-item-link {
    
  }
  
}