.colors {
  display: flex;
  flex-flow: row wrap;
  
  &__item {
    margin-right: 5px;
    margin-bottom: 5px;
  }
  
  &__item-link {
    display: block;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    border: 1px solid #000;
    
    &--white {
      background: #fff;
    }
    
    &--yellow {
      background: #fff;
    }
    
    &--green {
      background: #fff;
    }
    
    &--brown {
      background: #fff;
    }
    
    &--red {
      background: #fff;
    }
    
    &--pink {
      background: #fff;
    }
    
    &--gray {
      background: #fff;
    }
    
    &--blue {
      background: #fff;
    }
    
    &--purple {
      background: #fff;
    }
    
    &--black {
      background: #fff;
    }
  }
}