.delivery-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 160px;
  
  &__icon {
    width: 34px;
    height: 20px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAeCAMAAABpA6zvAAAAUVBMVEUAAABgbnVgbnVgbnVgbnVgbnVgbnVgbnVgbnVgbnVgbnVgbnVgbnVgbnVgbnVgbnVgbnVgbnVgbnVgbnVgbnVgbnVgbnVgbnVgbnVgbnVgbnWSoU11AAAAGnRSTlMACPI9h+jezqKZdkkiE8K6g2MbsWyqkzIrV/aWVL8AAADtSURBVDjL1ZNbkoMgEEUvEBBFIviIGfa/0BEaB5PKRP5SOR9WeznVSEljnMIrphFPDOE1VzwR/uNzYqERlWLgY6UYlhNRNhsqVua9eMFGHyvFzkXoWHYVYk/nOReppa4QqWWFSArCOd8nTobh3vFw4CYYE7dHkRskxjJCSiAh1FHcPPvjV4Bds8d7oPc+PnkRF8DE14lhzeIMdPk6zEU0sHL/GbmlhaBCwCZRUuoplQB9fQNoijTQbAvUl7ah6rLPfz7XkDaZAeHalsGEfd23kQ5wFDmgcwJ/LCldUWAqT8EjzCk+3HHEaim1BfELJbZZbt/7YFYAAAAASUVORK5CYII=') no-repeat;
    background-size: cover;
    flex: 0 0 auto;
  }
  &__content {
    margin-left: 9px;
  }
  &__header {
    color: red;
    font-family: @font-family-main;
    font-size: 14px;
    line-height: 17px;
  }
  &__text {
    color: @text-color;
    font-family: @font-family-main;
    font-size: 14px;
    line-height: 17px;
  }
}