footer.footer
  nav.footer__navigation
    a.footer__logo(href="#")
      img.footer__logo-img(src="img/footer-logo.png", alt="New Balance")
    ul.menu
      li.menu__item
        a(href="#").menu__item-link Главная
      li.menu__item
        a(href="#").menu__item-link Мужские
      li.menu__item
        a(href="#").menu__item-link Женские
      li.menu__item
        a(href="#").menu__item-link Магазин
      li.menu__item
        a(href="#").menu__item-link Доставка
      li.menu__item
        a(href="#").menu__item-link Гарантии
  .footer__bottom
    .footer__info 
      p.footer__info-item New Balance обувь по ценам США 
      p.footer__info-item Официальный магазин в Москве
      p.footer__info-item ООО "КАПИТАЛ ГРУПП"
      p.footer__info-item ИНН 5031117294 
      p.footer__info-item ОГРН 1155031004370
      p.footer__info-item Магазин: г. Москва, Мясницкая 17, время работы: 10.00 — 21.00, ежедневно
    .phone
      .phone__number +7 (495) 150-11-07
      a.phone__callback.phone__callback--uppercase(href="#callback" data-modal) Заказать звонок