header.header
  .header__top
    a.logo(href="index.html")
      img.logo__img(src="img/logo.png", alt="New Balance")
    a.delivery-link(href="page.html")
      .delivery-link__icon
      .delivery-link__content
        p.delivery-link__header Акция!
        p.delivery-link__text Доставим по Москве за 90 минут
    .store-link
      .store-link__icon
      .store-link__content
        a.store-link__header(href="#") Мясницкая, 17
        p.store-link__text Ежедневно: 10.00 — 21.00 м. Чистые Пруды
    .phone
      .phone__number +7 (495) 150-11-07
      a.phone__callback(href="#callback" data-modal) Заказать звонок
  .header__bottom
    ul.menu
      li.menu__item
        a.menu__item-link(href="catalog.html") Мужские
      li.menu__item
        a.menu__item-link(href="catalog.html") Женские
      li.menu__item
        a.menu__item-link(href="page.html") Магазин
      li.menu__item
        a.menu__item-link(href="page.html") Доставка
      li.menu__item
        a.menu__item-link(href="page.html") Гарантии
      li.menu__item
        a.menu__item-link(href="page.html") Сертификаты
      li.menu__item
        a.menu__item-link(href="feedback.html") Отзывы
    a.cart(href="cart.html")
      .cart__icon
      .cart__content Корзина:
      .cart__price 0
      .cart__currency руб.