aside.sidebar
  a.sidebar__header(href="#") Converse
  ul.catalog-index
    li.catalog-index__category
      a.catalog-index__category-link(href="#") Распродажа
    li.catalog-index__category
      a.catalog-index__category-link(href="#") Каталог
      ul.catalog-index__category-sections
        li.catalog-index__section-item
          a.catalog-index__section-item-link(href="#") CHUCK TAYLOR ALL STAR 1
        li.catalog-index__section-item
          a.catalog-index__section-item-link(href="#") CHUCK TAYLOR ALL STAR 2
        li.catalog-index__section-item
          a.catalog-index__section-item-link(href="#") Детские
        li.catalog-index__section-item
          a.catalog-index__section-item-link(href="#") Женские
        li.catalog-index__section-item
          a.catalog-index__section-item-link(href="#") Мужские
        li.catalog-index__section-item
          a.catalog-index__section-item-link(href="#") Низкие
        li.catalog-index__section-item
          a.catalog-index__section-item-link(href="#") Высокие
    li.catalog-index__category
      a.catalog-index__category-link(href="#") Материал
      ul.catalog-index__category-sections
        li.catalog-index__section-item
          a.catalog-index__section-item-link(href="#") Кожа
        li.catalog-index__section-item
          a.catalog-index__section-item-link(href="#") Текстиль
    li.catalog-index__category
      span.catalog-index__category-link Цвет
      ul.colors.catalog-index__colors
        li.colors__item
          a.colors__item-link.colors__item-link--white(href="#")
        li.colors__item
          a.colors__item-link.colors__item-link--yellow(href="#")
        li.colors__item
          a.colors__item-link.colors__item-link--green(href="#")
        li.colors__item
          a.colors__item-link.colors__item-link--brown(href="#")
        li.colors__item
          a.colors__item-link.colors__item-link--red(href="#")
        li.colors__item
          a.colors__item-link.colors__item-link--pink(href="#")
        li.colors__item
          a.colors__item-link.colors__item-link--grey(href="#")
        li.colors__item
          a.colors__item-link.colors__item-link--blue(href="#")
        li.colors__item
          a.colors__item-link.colors__item-link--black(href="#")
  a.sidebar__header(href="#") Отзывы
  ul.feedback
    li.feedback-item
      .feedback-item__header
        img.feedback-item__picture(src="img/feedback-1.jpg", alt="Марина")
        .feedback-item__author Маргарита Денисова
      p.feedback-item__content Спасибо консультантам магазина за то, что помогли определится с выбором и подобрать размер.Вы-супер, и кеды тоже класс, буду брать ещё! Я теперь самая модная! https://vk.com/denisova.andreevna
    li.feedback-item
      .feedback-item__header
        img.feedback-item__picture(src="img/feedback-2.jpg", alt="Иван")
        .feedback-item__author Полина Ефремова
      p.feedback-item__content Отличные Кеды! С удовольствием носит вся семья! Очень хорошая служба доставки, а в магазине вежливые и внимательные продавцы! Нам привозят несколько пар на выбор, чтобы точно по размеру подошли. Это удобный сервис. Но иногда и сами заходим в шоу-рум, всегда помогут подобрать. А как-то пришлось обменять размер, без носка оказалось велико, так без проблем заменили.
    li.feedback-item
      .feedback-item__header
        img.feedback-item__picture(src="img/feedback-3.jpg", alt="Валентин")
        .feedback-item__author Павел
      p.feedback-item__content Огромное спасибо магазину за хорошее обслуживание, качественные и красивые кеды. Всё очень быстро и оперативно. Ношу не нарадуюсь. Рекомендую ваш магазин всем. Оригинал за такие деньги - это огонь! Желаю хороших вам продаж и довольных клиентов. https://vk.com/id97648612