aside.sidebar
  a.sidebar__header(href="#") Все модели
  ul.catalog-index
    li.catalog-index__category
      a.catalog-index__category-link.catalog-index__category-link--red(href="#") Распродажа
    li.catalog-index__category
      a.catalog-index__category-link(href="#") Женские
      ul.catalog-index__category-sections
        li.catalog-index__section-item
          a.catalog-index__section-item-link(href="#") New Balance 574
        li.catalog-index__section-item
          a.catalog-index__section-item-link(href="#") New Balance 580
        li.catalog-index__section-item
          a.catalog-index__section-item-link(href="#") New Balance 670
        li.catalog-index__section-item
          a.catalog-index__section-item-link(href="#") New Balance 990
        li.catalog-index__section-item
          a.catalog-index__section-item-link(href="#") New Balance 996
        li.catalog-index__section-item
          a.catalog-index__section-item-link(href="#") New Balance 999
    li.catalog-index__category
      a.catalog-index__category-link(href="#") Мужские
      ul.catalog-index__category-sections
        li.catalog-index__section-item
          a.catalog-index__section-item-link(href="#") New Balance 530
        li.catalog-index__section-item
          a.catalog-index__section-item-link(href="#") New Balance 574
        li.catalog-index__section-item
          a.catalog-index__section-item-link(href="#") New Balance 576
        li.catalog-index__section-item
          a.catalog-index__section-item-link(href="#") New Balance 580
        li.catalog-index__section-item
          a.catalog-index__section-item-link(href="#") New Balance 670
        li.catalog-index__section-item
          a.catalog-index__section-item-link(href="#") New Balance 990
        li.catalog-index__section-item
          a.catalog-index__section-item-link(href="#") New Balance 996
        li.catalog-index__section-item
          a.catalog-index__section-item-link(href="#") New Balance 997
        li.catalog-index__section-item
          a.catalog-index__section-item-link(href="#") New Balance 998
        li.catalog-index__section-item
          a.catalog-index__section-item-link(href="#") New Balance 999
        li.catalog-index__section-item
          a.catalog-index__section-item-link(href="#") New Balance 1400
        li.catalog-index__section-item
          a.catalog-index__section-item-link(href="#") New Balance 1500
    li.catalog-index__category
      a.catalog-index__category-link(href="#") Материал
      ul.catalog-index__category-sections
        li.catalog-index__section-item
          a.catalog-index__section-item-link(href="#") Замша
        li.catalog-index__section-item
          a.catalog-index__section-item-link(href="#") Кожа
        li.catalog-index__section-item
          a.catalog-index__section-item-link(href="#") Текстиль
    li.catalog-index__category
      a.catalog-index__category-link(href="#") По сезонам
      ul.catalog-index__category-sections
        li.catalog-index__section-item
          a.catalog-index__section-item-link(href="#") Лето
        li.catalog-index__section-item
          a.catalog-index__section-item-link(href="#") Осень
    li.catalog-index__category
      a.catalog-index__category-link(href="#") Аксессуары
    li.catalog-index__category
      a.catalog-index__category-link(href="#") Одежда
    li.catalog-index__category
      a.catalog-index__category-link(href="#") Размеры 46-50
    li.catalog-index__category
      span.catalog-index__category-link(href="#") Цвет
      ul.colors.catalog-index__colors
        li.colors__item
          a.colors__item-link.colors__item-link--white(href="#")
        li.colors__item
          a.colors__item-link.colors__item-link--yellow(href="#")
        li.colors__item
          a.colors__item-link.colors__item-link--green(href="#")
        li.colors__item
          a.colors__item-link.colors__item-link--brown(href="#")
        li.colors__item
          a.colors__item-link.colors__item-link--red(href="#")
        li.colors__item
          a.colors__item-link.colors__item-link--pink(href="#")
        li.colors__item
          a.colors__item-link.colors__item-link--gray(href="#")
        li.colors__item
          a.colors__item-link.colors__item-link--blue(href="#")
        li.colors__item
          a.colors__item-link.colors__item-link--purple(href="#")
        li.colors__item
          a.colors__item-link.colors__item-link--black(href="#")