doctype html
html(lang='en')
  include ../templates/head.jade
  include ../templates/mixins.jade
  
  body
    .wrapper
      include ../templates/header.jade
      .content
        include ../templates/sidebar.jade
        .catalog
          h1.inner-header Недорогие кроссовки New Balance со скидкой в Москве
          .breadcrumbs
            li.breadcrumbs__item
              a.breadcrumbs__item-link(href="#") Кроссовки New Balance
            li.breadcrumbs__item
              a.breadcrumbs__item-link(href="#") Все модели
          ul.catalog__content
            +item('item-1.jpg', 'New Balance женские M574BCB (2294)', '3 990', '8 700', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'New Balance женские M574BCB (2294)', '3 990', '8 700', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'New Balance женские M574BCB (2294)', '3 990', '8 700', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'New Balance женские M574BCB (2294)', '3 990', '8 700', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'New Balance женские M574BCB (2294)', '3 990', '8 700', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'New Balance женские M574BCB (2294)', '3 990', '8 700', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'New Balance женские M574BCB (2294)', '3 990', '8 700', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'New Balance женские M574BCB (2294)', '3 990', '8 700', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'New Balance женские M574BCB (2294)', '3 990', '8 700', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'New Balance женские M574BCB (2294)', '3 990', '8 700', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'New Balance женские M574BCB (2294)', '3 990', '8 700', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'New Balance женские M574BCB (2294)', '3 990', '8 700', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'New Balance женские M574BCB (2294)', '3 990', '8 700', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'New Balance женские M574BCB (2294)', '3 990', '8 700', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'New Balance женские M574BCB (2294)', '3 990', '8 700', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'New Balance женские M574BCB (2294)', '3 990', '8 700', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'New Balance женские M574BCB (2294)', '3 990', '8 700', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'New Balance женские M574BCB (2294)', '3 990', '8 700', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'New Balance женские M574BCB (2294)', '3 990', '8 700', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'New Balance женские M574BCB (2294)', '3 990', '8 700', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'New Balance женские M574BCB (2294)', '3 990', '8 700', '36', '37', '38', '39', '40')
          a.catalog-btn(href="#" data-catalog-btn) Показать ещё
      article.article
        h2.article__header Кроссовки New Balance: купить в официальном магазине в Москве
        p.article__text Не знаете, где купить кроссовки New Balance в Москве? Ознакомьтесь с ассортиментом, представленным в каталоге официального интернет-магазина, и вас больше не будет волновать этот вопрос. Только оригинальные кроссовки New Balance, одежда и аксессуары по низкой цене — выгодное предложение от нашей компании. Качественные модели от американского бренда подчеркнут индивидуальность и бескомпромиссность при выборе качественной одежды и обуви. Бренд New Balance более 100 лет радует поклонников удобной одеждой и технологичной обувью. Многие технологии, внедренные в кроссовки New Balance, были разработаны самим производителем с целью создания самой комфортной и безопасной обуви.
        p.article__text Технологии кроссовок Нью Баланс:
        ul.article__list
          li.article__list-item Современные амортизационные материалы в промежуточной подошве: Abzorb, ImEva, EVA, Encap. Они гасят вибрации, защищая суставы и позвоночник от ударных нагрузок во время бега, занятий другими видами спорта, обеспечивают упругую ходьбы при повседневной носке.
          li.article__list-item Верх кроссовок New Balance изготавливается из премиальных натуральных материалов: кожи и замши. В моделях с сетчатыми вставками используется технологичная сетка Mesh для вентиляционного эффекта.
          li.article__list-item Подошва кроссовок — углеродистая резина с высокой степенью сцепления и износоустойчивости.
      article.article
        h2.article__header Интернет-магазин New Balance: широкий выбор, недорого, качественно, с доставкой по Москве
        p.article__text Ознакомьтесь с ассортиментом, представленным в каталоге:
        ul.article__list
          li.article__list-item Женские и мужские кроссовки New Balance моделей 574, 576, 580, 670, 990, 996, 997, 998, 999, 1500. Выбирайте варианты из замши, кожи и текстиля, облегченные, демисезонные и зимние модели.
          li.article__list-item Рюкзаки New Balance из прочной, износоустойчивой ткани, с крупным логотипом бренда на лицевой части.
          li.article__list-item Мужские поло, футболки для повседневной носки и активного отдыха. Они отличаются удобным кроем, разнообразием расцветок, которое передано на фото каждой позиции, и низкой ценой.
          li.article__list-item Аксессуары и средства по уходу за обувью: растяжители, пена, щетки для обуви, шнурки разных цветов.
        p.article__text На официальном сайте покупатели найдут все популярные модели-оригиналы, ставшие «лицом» бренда New Balance. Приобретайте дешево одежду и кроссовки NB в онлайн-режиме или, посетив дисконт-магазина в Москве. Будучи официальным дилером, интернет-магазин реализует только 100% оригинальные модели, качество которых подтверждают сертификаты.
      include ../templates/footer.jade
      +modalCallback
      +modalOrder