doctype html
html(lang='en')
  include ../templates/head.jade
  include ../templates/mixins.jade
  
  body
    .wrapper
      include ../templates/header.jade
      .content
        include ../templates/sidebar.jade
        .catalog
          h1.inner-header Кеды Converse Chuck Taylor — обувь мирового качества!
          .breadcrumbs
            li.breadcrumbs__item
              a.breadcrumbs__item-link(href="#") Главная
            li.breadcrumbs__item
              a.breadcrumbs__item-link(href="#") Каталог
          ul.catalog__content
            +item('item-1.jpg', 'Converse Low White (211)', '2 390', '4 900', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'Converse Low White (211)', '2 390', '4 900', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'Converse Low White (211)', '2 390', '4 900', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'Converse Low White (211)', '2 390', '4 900', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'Converse Low White (211)', '2 390', '4 900', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'Converse Low White (211)', '2 390', '4 900', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'Converse Low White (211)', '2 390', '4 900', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'Converse Low White (211)', '2 390', '4 900', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'Converse Low White (211)', '2 390', '4 900', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'Converse Low White (211)', '2 390', '4 900', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'Converse Low White (211)', '2 390', '4 900', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'Converse Low White (211)', '2 390', '4 900', '36', '37', '38', '39', '40')
          a.catalog-btn(href="#" data-catalog-btn) Показать ещё
      ul.items-bottom
            +item('item-1.jpg', 'Converse Low White (211)', '2 390', '4 900', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'Converse Low White (211)', '2 390', '4 900', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'Converse Low White (211)', '2 390', '4 900', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'Converse Low White (211)', '2 390', '4 900', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'Converse Low White (211)', '2 390', '4 900', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'Converse Low White (211)', '2 390', '4 900', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'Converse Low White (211)', '2 390', '4 900', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'Converse Low White (211)', '2 390', '4 900', '36', '37', '38', '39', '40')
      article.article
        img.article__picture(src="img/article-1.jpg", alt="Converse")
        h2.article__header CONVERSE CHUCK TAYLOR: КЛАССИКА ДЛЯ МОЛОДЕЖИ
        p.article__text Converse Chuck Taylor - легендарная обувь, которая появилась в продаже в 1917 году. Кеды были сначала предназначены для игры в баскетбол. Дизайн этой обуви разрабатывался с учетом особенностей спортивной игры. Первое время кеды Conversе носили название All-Star.
        p.article__text Обувь получила популярность среди спортсменов, однако среди молодежи она была не настолько известна. Хотя по внешнему виду узнать "конверсы" мог любой американец. В модной индустрии тогда преобладали другие тенденции, и спортивной обуви было не место среди них.
        p.article__text Популярность "конверсы" получили после того, как на них обратил внимание знаменитый баскетболист Чак Тейлор. Именно он приложил усилия к популяризации кедов. Тейлор даже разработал собственный дизайн обуви без шнуровки. Такие кеды он создал незадолго до своей смерти. На всех "конверсах" красуется его подпись - знак того, что обувь понравилась звезде спорта.
        p.article__text Сегодня Converse Chuck Taylor купить можно через официальный интернет-магазин. Покупатель имеет возможность выбрать изделие по своему вкусу. В продаже есть модели из разных материалов. Например, в ассортименте можно найти кеды из кожи, денима, винила и замши. И это еще не полный список материалов, из которых такую обувь создают.
        p.article__text Можно Converse купить разных цветов. Со временем ассортимент изделий увеличился, и в продаже появились не только традиционные белые модели. Однако все "конверсы" отличаются уникальными чертами. Их невозможно спутать с обувью от других марок, настолько они индивидуальны.
        p.article__text Кеды известной марки в разные годы выбирали представители различных движений. Это не принадлежность какой-то отдельной субкультуры, а скорее удобная обувь, которую выбирает молодежь. Converse - кеды, которые стали настоящей классикой, они уже не могут выйти из моды.
      include ../templates/footer.jade
      +modalCallback
      +modalOrder