doctype html
html(lang='en')
  include ../templates/head.jade
  include ../templates/mixins.jade
  
  body
    .wrapper
      include ../templates/header.jade
      .content
        include ../templates/sidebar.jade
        section.section
          .feedback-item
            .feedback-item__header
              img.feedback-item__picture(src="img/feedback-anonim.png", alt="Валентин")
              .feedback-item__author Яна Полоник
            p.feedback-item__content Спасибо консультантам магазина за то, что помогли определится с выбором и подобрать размер.Вы-супер, и кеды тоже класс, буду брать ещё! Я теперь самая модная! https://vk.com/denisova.andreevna
          .feedback-item
            .feedback-item__header
              img.feedback-item__picture(src="img/feedback-3.jpg", alt="Валентин")
              .feedback-item__author Марина Клыкова
            p.feedback-item__content Огромное спасибо магазину за хорошее обслуживание, качественные и красивые кеды. Всё очень быстро и оперативно. Ношу не нарадуюсь. Рекомендую ваш магазин всем. Оригинал за такие деньги - это огонь! Желаю хороших вам продаж и довольных клиентов. https://vk.com/id97648612
          .feedback-item
            .feedback-item__header
              img.feedback-item__picture(src="img/feedback-2.jpg", alt="Валентин")
              .feedback-item__author Леонтьева Ольга
            p.feedback-item__content Вчера забрал свои кеды. быстрая доставка, нормальное качество да ещё за такую цену. Пришли в коробке, такие же как на фото.
          .feedback-item
            .feedback-item__header
              img.feedback-item__picture(src="img/feedback-1.jpg", alt="Валентин")
              .feedback-item__author Виталий Киселев ( Москва )
            p.feedback-item__content Замечательный магазин, грамотный и внимательный молодой персонал. Подбирают нужную модель, помогают с выбором. С заменой неподошедшей модели не возникло никаких проблем. Кроссовки качественные, в живую даже красивее картинки. Купил на лето NB 999, так понравились, что прикупил ещё и на осень 574 кожа. Модели все настоящий аутентичный NB. Соотношение качество-цена порадовало. За 2 пары заплатил меньше, чем в бутике бы отдал за одну.А качество такое-же хорошее. Если буду ещё покупать NB, то только тут. Рекомендую https://vk.com/v.piton
          .feedback-item
            .feedback-item__header
              img.feedback-item__picture(src="img/feedback-anonim.png", alt="Валентин")
              .feedback-item__author Полина
            p.feedback-item__content Я купила здесь кроссовки WL996CLD женские дешевле, чем в бутике. Мне никто не поверил. А качество супер, я воду на них наливала, вообще не промокают, удачный эксперимент. Точно оригинал. https://vk.com/pporuchikova
          .feedback-item
            .feedback-item__header
              img.feedback-item__picture(src="img/feedback-3.jpg", alt="Валентин")
              .feedback-item__author Иван
            p.feedback-item__content Магазин понравился. Дали полную консультацию, цена нормальная и качество хорошее, быстрая доставка. Я остался доволен!
      include ../templates/footer.jade
      +modalCallback
      +modalOrder