doctype html
html(lang='en')
  include ../templates/head.jade
  include ../templates/mixins.jade
  
  body
    .wrapper
      include ../templates/header.jade
      .promo
        .banner
          h2.banner__header Купить кроссовки <br> New Balance в Москве
          p.banner__store Магазин на&nbsp;
            a.banner__store-link(href="#") Чистых прудах
          a.banner__button(href="#") Распродажа
        ul.popular
          +popular-item('popular-item-1.jpg', 'New Balance женские M574BCB (2294)', '3 990', '8 700')
          +popular-item('popular-item-2.jpg', 'New Balance женские M574BCC (2294)', '3 990', '8 700')
          +popular-item('popular-item-3.jpg', 'New Balance мужские M574TK', '3 990', '8 700')
          +popular-item('popular-item-4.jpg', 'New Balance мужские MRL996NDB (1061)', '3 990', '9 900')
      h1.page-header NEW BALANCE — ДИСКОНТ ИНТЕРНЕТ-МАГАЗИН В МОСКВЕ
      section.content
        aside.sidebar
          a.sidebar__header(href="#") Все модели
          ul.catalog-index
            li.catalog-index__category
              a.catalog-index__category-link.catalog-index__category-link--red(href="#") Распродажа
            li.catalog-index__category
              a.catalog-index__category-link(href="#") Женские
              ul.catalog-index__category-sections
                li.catalog-index__section-item
                  a.catalog-index__section-item-link(href="#") New Balance 574
                li.catalog-index__section-item
                  a.catalog-index__section-item-link(href="#") New Balance 580
                li.catalog-index__section-item
                  a.catalog-index__section-item-link(href="#") New Balance 670
                li.catalog-index__section-item
                  a.catalog-index__section-item-link(href="#") New Balance 990
                li.catalog-index__section-item
                  a.catalog-index__section-item-link(href="#") New Balance 996
                li.catalog-index__section-item
                  a.catalog-index__section-item-link(href="#") New Balance 999
            