doctype html
html(lang='en')
  include ../templates/head.jade
  include ../templates/mixins.jade
  
  body
    .wrapper
      include ../templates/header.jade
      .promo
        .banner
          h2.banner__header Купить кроссовки <br> New Balance в Москве
          p.banner__store Магазин на&nbsp;
            a.banner__store-link(href="#") Чистых прудах
          a.banner__button(href="#") Распродажа
        ul.popular
          +popular-item('popular-item-1.jpg', 'New Balance женские M574BCB (2294)', '3 990', '8 700')
          +popular-item('popular-item-2.jpg', 'New Balance женские M574BCC (2294)', '3 990', '8 700')
          +popular-item('popular-item-3.jpg', 'New Balance мужские M574TK', '3 990', '8 700')
          +popular-item('popular-item-4.jpg', 'New Balance мужские MRL996NDB (1061)', '3 990', '9 900')
      h1.page-header NEW BALANCE — ДИСКОНТ ИНТЕРНЕТ-МАГАЗИН В МОСКВЕ
      .content
        include ../templates/sidebar.jade
        ul.catalog
          +item('item-1.jpg', 'New Balance женские M574BCB (2294)', '3 990', '8 700', '36', '37', '38', '39', '40')
          +item('item-1.jpg', 'New Balance женские M574BCB (2294)', '3 990', '8 700', '36', '37', '38', '39', '40')
          +item('item-1.jpg', 'New Balance женские M574BCB (2294)', '3 990', '8 700', '36', '37', '38', '39', '40')
          +item('item-1.jpg', 'New Balance женские M574BCB (2294)', '3 990', '8 700', '36', '37', '38', '39', '40')
          +item('item-1.jpg', 'New Balance женские M574BCB (2294)', '3 990', '8 700', '36', '37', '38', '39', '40')
          +item('item-1.jpg', 'New Balance женские M574BCB (2294)', '3 990', '8 700', '36', '37', '38', '39', '40')
          +item('item-1.jpg', 'New Balance женские M574BCB (2294)', '3 990', '8 700', '36', '37', '38', '39', '40')
          +item('item-1.jpg', 'New Balance женские M574BCB (2294)', '3 990', '8 700', '36', '37', '38', '39', '40')
          +item('item-1.jpg', 'New Balance женские M574BCB (2294)', '3 990', '8 700', '36', '37', '38', '39', '40')
          +item('item-1.jpg', 'New Balance женские M574BCB (2294)', '3 990', '8 700', '36', '37', '38', '39', '40')
          +item('item-1.jpg', 'New Balance женские M574BCB (2294)', '3 990', '8 700', '36', '37', '38', '39', '40')
          +item('item-1.jpg', 'New Balance женские M574BCB (2294)', '3 990', '8 700', '36', '37', '38', '39', '40')
          +item('item-1.jpg', 'New Balance женские M574BCB (2294)', '3 990', '8 700', '36', '37', '38', '39', '40')
          +item('item-1.jpg', 'New Balance женские M574BCB (2294)', '3 990', '8 700', '36', '37', '38', '39', '40')
          +item('item-1.jpg', 'New Balance женские M574BCB (2294)', '3 990', '8 700', '36', '37', '38', '39', '40')
      article.article
        h2.article__header Кроссовки New Balance в дисконт интернет-магазине в Москве: импорт из США по низким ценам
        p.article__text Предлагаем дешево приобрести оригинальные брендовые кроссовки New Balance от американского производителя. Интернет-магазин «Нью Баланс» уже более 5 лет реализует модели по низким ценам, радуя новых и постоянных покупателей высоким качеством обуви, оперативной доставкой по Москве и в регионы.
        p.article__text В каталоге официального интернет-магазина Нью Баланс представлен широкий ассортимент брендовых женских, мужских кроссовок, которые оценены по всему миру и с каждым годом количество их почитателей только возрастает.
      article.article
        h2.article__header Причины популярности кроссовок Нью Баланс
        p.article__text Уильям Райли — основатель компании — и представить не мог в далеком 1908 году, что через 100 лет разработанная им спортивная обувь станет настолько популярной. Ее носят школьники и их родители, студенты и преподаватели, спортсмены и миллионеры, гламурные поп-дивы и брутальные рокеры. Без кроссов Нью Баланс каждый десятый житель планеты не представляет своей утренней пробежки, активного отдыха, занятий спортом и повседневной жизни.
        p.article__text Оригинальные кроссовки New Balance востребованы благодаря уникальному сочетанию непревзойденного комфорта и дизайна. Внешнее оформление кроссовок узнаваемо по всему миру: неизменная буква N на боковой стороне, практичная рифленая подошва, ярлык с указанием модели на язычке, логотип NB на подошве и элементах верха обуви. Все эти детали не случайны, имеют свою историю и являются частью философии бренда New Balance.
        p.article__text Главная ценность кроссовок New Balance — конечно же, их технологии:
        ul.article__list
          li.article__list-item Особое строение пяточной части супинатора с тремя точками опоры. Благодаря ему достигается максимальная устойчивость и баланс при любых нагрузках: как во время занятий спортом, так во время обычных прогулок.
          li.article__list-item Продуманная промежуточная подошва, для изготовления которой используются технологичные материалы EVA, Encap, ImEva, Abzorb. Их задача — гашение вибраций, отрицательно воздействующих на суставы и позвоночник, вызывающих усталость ног. Благодаря им кроссовки New Balance упруги во время ходьбы и бега, долго не изнашиваются и обладают легким весом.
          li.article__list-item Использование натуральных материалов: замши, кожи, текстиля — и высокотехнологичной сетки Mesh придают кроссовкам дышащие свойства.
          li.article__list-item Протектор из прочной резины — залог отличного сцепления с поверхностью, водонепроницаемости и износоустойчивости.
      article.article
        h2.article__header
          a(href="#") Причины популярности кроссовок Нью Баланс
        p.article__text Для заказа понравившейся модели, положите необходимый размер в корзину и завершите покупку. Оцените преимущества нашего интернет-магазина:
        ul.article__list
          li.article__list-item Гарантия оригинальности обуви. Обезопасьте себя от подделок! Советуем купить оригинальные кроссовки New Balance на официальном сайте. Благодаря тесным, отлаженным связям с производителем, к нам попадают только кроссовки NB - 100% оригинал.
          li.article__list-item Дисконт в Москве — это возможность недорого купить мужские и женские кроссовки в интернет-магазине и обычном магазине по указанному на сайте адресу.
          li.article__list-item Возможность заказа до 3 пар кроссовок для примерки и приобретения подходящей модели. Покупателям из Москвы кроссовки будут доставлены уже через 90 минут после совершения заказа.
      include ../templates/footer.jade
      +modalCallback
      +modalOrder