doctype html
html(lang='en')
  include ../templates/head.jade
  include ../templates/mixins.jade
  
  body
    .wrapper
      include ../templates/header.jade
      .promo
        .banner
          h2.banner__header Купить кеды <br> Converse в Москве
          p.banner__store Магазин на&nbsp;
            a.banner__store-link(href="#") Чистых прудах
          a.banner__button(href="#") Распродажа
        .sale
          h2.sale__header Успевайте купить кеды Converse со скидкой 51%
          .sale__item
            img.sale__item-img(src="img/sale-1.jpg", alt="Converse")
            .sale__price
              p.sale__price-old 4900&nbsp;&#8381;
              p.sale__price-new 2390&nbsp;&#8381;
          .sale__name Converse Low White (111)
          form.sale-form(action="#" method="post")
            .sale-form__left
              input.input-text.sale-form__name(type="text" placeholder="Имя" name="name")
              input.input-text.sale-form__phone(type="text" placeholder="Телефон" name="phone")
            .sale-form__right
              ul.sale-form__sizes
                li.sale-form__sizes-list-item
                  a.sale-form__sizes-list-link(href="#") 36
                li.sale-form__sizes-list-item
                  a.sale-form__sizes-list-link(href="#") 37
                li.sale-form__sizes-list-item
                  a.sale-form__sizes-list-link(href="#") 38
                li.sale-form__sizes-list-item
                  a.sale-form__sizes-list-link(href="#") 39
                li.sale-form__sizes-list-item
                  a.sale-form__sizes-list-link(href="#") 40
                li.sale-form__sizes-list-item
                  a.sale-form__sizes-list-link(href="#") 41
                li.sale-form__sizes-list-item
                  a.sale-form__sizes-list-link(href="#") 42
                li.sale-form__sizes-list-item
                  a.sale-form__sizes-list-link(href="#") 43
                li.sale-form__sizes-list-item
                  a.sale-form__sizes-list-link(href="#") 44
                li.sale-form__sizes-list-item
                  a.sale-form__sizes-list-link(href="#") 45
              button.sale-form__btn Купить сейчас
      h1.page-header Кеды Converse All Star — купить в дисконт-центре в Москве
      .content
        include ../templates/sidebar.jade
        .catalog
          ul.catalog__content
            +item('item-1.jpg', 'Converse Low White (211)', '2 390', '4 900', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'Converse Low White (211)', '2 390', '4 900', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'Converse Low White (211)', '2 390', '4 900', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'Converse Low White (211)', '2 390', '4 900', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'Converse Low White (211)', '2 390', '4 900', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'Converse Low White (211)', '2 390', '4 900', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'Converse Low White (211)', '2 390', '4 900', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'Converse Low White (211)', '2 390', '4 900', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'Converse Low White (211)', '2 390', '4 900', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'Converse Low White (211)', '2 390', '4 900', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'Converse Low White (211)', '2 390', '4 900', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'Converse Low White (211)', '2 390', '4 900', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'Converse Low White (211)', '2 390', '4 900', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'Converse Low White (211)', '2 390', '4 900', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'Converse Low White (211)', '2 390', '4 900', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'Converse Low White (211)', '2 390', '4 900', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'Converse Low White (211)', '2 390', '4 900', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'Converse Low White (211)', '2 390', '4 900', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'Converse Low White (211)', '2 390', '4 900', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'Converse Low White (211)', '2 390', '4 900', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'Converse Low White (211)', '2 390', '4 900', '36', '37', '38', '39', '40')
          a.catalog-btn(href="#" data-catalog-btn) Показать ещё
      article.article
        h2.article__header Как распознать подделку Converse
        p.article__text Начиная с конца 1900-х годов прошлого столетия компания Converse производит всемирно известную одноименную обувь, которую носят представители самых разных возрастов. Еёможноувидетькак на именитых спортсменах и музыкантах, так и на обычных прохожих города. А успех обуви подтверждают многомиллионные продажи по миру. 
        p.article__text По этой же причине совсем неудивительно, что обувь Converse многие недобросовестные производители просто подделывают. И хорошо, если сразу говорят, что это копия, но ведь многиевыдают подделку за оригинал, обдуривая покупателей. Этому и посвящена наша статья – как отличить оригинальные Converse от подделки.
        h3.article__header-small Внешний вид
        p.article__text Перед тем, как купить кеды конверс, первостепенное значение следует уделить их интерьеру.Тщательно осмотрите резиновые и тканевые составляющие обуви, проверьте на них все видимые строчки и качество краски. Краска у официальной обуви очень четкая, а все строчки – предельно аккуратно прошиты. Кроме того, присмотритесь к носку – у оригинальных он идеально ровный.
        h3.article__header-small Логотип и нанесение символики бренда
        p.article__text Перевернув обувь, на самой подошве будет красоваться надпись о том, что это кеды Converse All Star. Проверьте, чтобы надпись на английском была прописана без грамматических ошибок. А сзади на обуви должна быть бирка ONE STAR или ALL STAR исходя от той модели, которую вы приобретаете. Четко пропечатанный логотип всегда высекается и на стельке.
        p.article__text Решив купить оригинальные Converse высокого типа, присмотритесь к щиколотке изнутри, где и у официальной модели также наносится логотип. Он представлен вышивкой, наклейкой или же оттиском, проставленным на коже. Здесь вновь все зависит от конкретной модели. При этом лого должно содержать брендовую надпись компании Converse или же All Star, а также звездочку и красивый текст в стиле рукописного следующего содержания: Chuck Taylor. Очевидно, сама эмблема обязательно должна быть очень качественной и отлично держаться на самой ткани.
      include ../templates/footer.jade
      +modalCallback
      +modalOrder