doctype html
html(lang='en')
  include ../templates/head.jade
  include ../templates/mixins.jade
  
  body
    .wrapper
      include ../templates/header.jade
      .content
        include ../templates/sidebar.jade
        section.section
          article.article
            h2.article__header Адрес магазина Converse на м. Чистые пруды
            p.article__text Чтобы лично посмотреть и примерить кеды Converse, Вы можете приехать в наш магазин. О наличии конкретной модели и размеров Вы всегда можете уточнить у наших менеджеров, каждый день с 10-00 до 21-00 по телефону:  8 (495) 120-11-58 !
            p.article__text Цены в магазине соответсвуют ценам на сайте, к оплате принимается только наличный расчет.
            p.article__text Мы находимся по адресу:
            p.article__text г. Москва, Мясницкая, д. 17 <br> *7 дней в неделю с 10.00 до 21.00.
          script(type="text/javascript", charset="utf-8", async, src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=Q1Vdxmdk6nOyX1reBocHr3Bv-5Q_DB-s&amp;width=100%&amp;height=400&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true")
      +modalCallback
      +modalOrder